.form-detail{
  background-color: #27ae60;
  box-shadow: 2px 0px 5px 0 rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s linear;
  &:hover{
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.7);
    transform:scale(1.005)
    // transform: scale(1.1);
  }
}
