  <div class="app__title text-center fs-large fw-bold mb-3">
      Note APP
  </div>
  <div class="container ">
      <div class="row row-cols-1 row-cols-md-2  ">
          <div class="col ">
              <button (click)="ActiveForm()" class=" btn btn-success " id="addNote">
                  <i class="bi bi-plus fw-bold fs-6"></i>
                  <span class="fw-bold">ADD Note</span>
              </button>
          </div>
          <div class="col mt-2 mt-md-0">
              <div class="input-group ">
                  <input type="text" class="form-control" placeholder="Search..." aria-label="search" aria-describedby="basic-addon1">
                  <button class="input-group-text" id="search">Search</button>
              </div>
          </div>
      </div>

  </div>
