<form action="" >
  <div class="h-75 overflow-hidden">
    <div class="mb-3">
      <label for="title_input" class="form-label fw-bold text-white">Title</label>
      <input [(ngModel)]="dataInput.title" name="title" #ctrl="ngModel" (change)="onChange()" #titleInput type="text" class="form-control" placeholder="Title Note">
    </div>
    <div class="mb-3">
      <label for="content_input" class="form-label fw-bold text-white">Content</label>
      <textarea [(ngModel)]="dataInput.content" name="content" #ctrl="ngModel" (change)="onChange()" #contentInput class="form-control" rows="3"></textarea>
    </div>
  </div>
  <div class="d-flex h-25 justify-content-center align-items-center gap-2">
    <ng-content></ng-content>
    <button (click)="onCancel()" class="btn btn-danger">CANCEL</button>
  </div>

</form>
